<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('water.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} 

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2><center>View Employee</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Title</th>
    <th>Address</th>
  </tr>
  <tr>
    <td>Dave</td>
    <td>Johnson</td>
    <td>Mr</td>
    <td>12 Rose street pty</td>
  </tr>
 
  
</table>

</body>
</html>