<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset ="UTF-8">
<meta name ="viewport" content="width=device-width, initial-scale=1.0">
<title> Category</title>
</head>
<body>
<div>
<label> Category Name: </label>
<label id= "lblCategoryName"> </label>

<label> Category Description: </label>
<label id= "lblCategoryDescription"> </label>

<button id= "btnAddProducts"> Add Products </button>

</div>
<div>
     <table class="table">
          <thead class="table-primary">
            <tr>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Product Size</th>
              <th>Product Flavour</th>
              <th>Quantity on Hand </th>
              <th>Product Price</th>
              <th>Product Picture</th>
            </tr>
          </thead>

          <tbody>
            <tr>
             <td>1111111</td>
              <td>Simba Potato Chips</td>
              <td>Tomato Sauce</td>
              <td>100</td>
              <td>R12</td>
              <td></td>
            </tr>
          </tbody>
        </table>
</div>

<button id= "btnDeleteProdCat" class="btn btn-danger"> Delete Product Category </button>
</body>
</html>

