.icon, .action {
  text-align: center;
}

.fa-trash {
  color:red;
}

.icon {
  font-size: 2em;
}

.fa-plus-circle {
  font-size: 1.5em;
}

i {
  cursor: pointer;
}

i:hover {
  text-shadow: 1.5px 0.5px grey;
}
