
  <nav class="navbar navbar-expand-xl sticky-top bg-primary navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">WaterWorld</a>

    <!--collapse control-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--links-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    </div>
  </nav>
<br>
<!--nav buttons-->
<div class="nav-btn-wrap">
    <button class="button" [routerLink]="['/suppliers']">Suppliers</button>
    <button class="button" [routerLink]="['/payment-method']">Payment Methods</button>
    <button class="button">Admin</button>
</div>

<router-outlet></router-outlet>
