<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset ="UTF-8">
<meta name ="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Product Category</title>
</head>
<body>

<div>
<h2 style = "text-align: center"> Add Product Category </h2>
</div>
<br>
<div>

<div style = "text-align: center">
<label> Category Name: </label>
<input id = "Category Name">
<br/>
<br>
<label  id = "lblCategoryDescription" > Category Description: </label>
<textarea id = "txtCategoryDescription" ></textarea>
<br>
<br/>

<button id= "btnAddProducts" class="btn btn-primary"> Add Products </button>
</div>
</div>
<br/>
<div>
     <table class="table">
          <thead class="table-primary">
            <tr>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Product Size</th>
              <th>Product Flavour</th>
              <th>Quantity on Hand </th>
              <th>Product Price</th>
              <th>Product Picture</th>
            </tr>
          </thead>

          <tbody>
            <tr>
             
             <td>1111111</td>
              <td>Simba Potato Chips</td>
              <td>Tomato Sauce</td>
              <td>100</td>
              <td>R12</td>
              <td></td>
              
            </tr>
          </tbody>
        </table>
</div>
<div style = "text-align: center">
<button id= "btnAddProductCatCancel" class="btn btn-danger" > Cancel </button>
&nbsp;&nbsp;&nbsp;
<button id= "btnAddProducsCatSave" class="btn btn-success"> Save </button>
</div>
</body>
</html>
