<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset ="UTF-8">
<meta name ="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title> Product Category</title>
</head>
<body>
<div>
<label> Category Name: </label>
<label id= "CategoryName"> Snacks </label>
<br/>
<br/>
<label> Category Description: </label>
<label id= "CategoryDescription">  </label>
<br/>
<br/>

</div>
<br/>
<div>
     <table class="table">
          <thead class="table-primary">
            <tr>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Product Size</th>
              <th>Product Flavour</th>
              <th>Quantity on Hand </th>
              <th>Product Price</th>
              <th>Product Picture</th>
            </tr>
          </thead>

          <tbody>
            <tr>
                <td>1111111</td>
              <td>Simba Potato Chips</td>
              <td>Tomato Sauce</td>
              <td>100</td>
              <td>R12</td>
              <td></td>
            </tr>
          </tbody>
        </table>
</div>

<button id= "btnDeleteProdCat" class="btn btn-danger"> Delete Product Category </button>

</body>
</html>
