<div class="container">
  <h5 id="lblSelectCat">Select Category<i class=" fa-plus pull-right"></i></h5>
  <div class="cat-btns">
    <button class="button" id="btnWater">Water</button>
    <button class="button" id="btnCoffee">Coffee</button>
    <button class="button" id="btnSnacks">Snacks</button>
    <button class="button" id="btnSoftDrinks">Soft Drinks</button>
    <button class="button" id="btnWaterBottles">Bottles</button>
    <button class="button" id="btnOther">Other</button>
  </div>
</div>



