<ngx-charts-bar-horizontal-normalized
[results]="multiDataOptions"
[view]= "[1250, 250]"
[scheme]="colorScheme"
[gradient]="gradient"
[xAxis]="xAxis"
[yAxis]="yAxis"
[legend]="legend"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="yAxisLabel"
[yAxisLabel]="xAxisLabel"
[legendTitle]="legendTitleMulti"
[legendPosition]="legendlocation"
[animations]="animations"
[showGridLines]="showGridLines"
[barPadding]="barPadding"
[tooltipDisabled]="tooltipDisabled">
</ngx-charts-bar-horizontal-normalized>
<html>
<head>
<style>
 
<
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>
</head>
<body>

<h2><center>Sale Report</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Title</th>
  </tr>
  <tr>
    <td>Dave</td>
    <td>Johnson</td>
    <td>Mr</td>
  </tr>
 
  
</table>

</body>
</html>
