
#sale-amounts-div {
  background-color: darkgray;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  border: 3px solid rgb(52, 59, 61);
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;

}

#sale-amounts-div > div > label{
  padding: 10px;
  font-weight: bolder;
}

table {
    min-height:210px !important;
    font-family: 'Roboto', sans-serif;

}

.sale-buttons-div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.btnSale {
  background-color: lightseagreen;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  height: 100px;
  width: 120px;
  font-weight: bolder;
  text-transform: uppercase;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.btnSale:hover {
  background-color: turquoise;
  box-shadow: 0px 15px 20px rgb(49, 150, 140);
  color: #fff;
  transform: translateY(-7px);
}
